<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-reportfullydrawn" version="1.0.5" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Report Fully Drawn Plugin</name>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

    <platform name="android">

        <js-module name="ReportFullyDrawn" src="www/ReportFullyDrawn.js">
            <clobbers target="ReportFullyDrawn" />
        </js-module>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ReportFullyDrawn">
                <param name="android-package" value="org.apache.cordova.avrethem.ReportFullyDrawn" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/ReportFullyDrawn.java" target-dir="src/org/apache/cordova/avrethem" />
    </platform>
</plugin>
